<header>BOOKS</header>
<% if flash[:notice] %>
    <div class="flash">
         <%= flash[:notice] %>
         <% end %>
    </div>
<div>
  <h4 = class ="head">Title</h4>
  <h4 = class = "head">Body</h4>
</div>


<!--ループ機能-->
<main>      
<% @books.each do |book| %>
<div class = "main-box">
<div class = "box1">
<table = class = "li"><%= book.title %></table>
</div>
<div class = "box2">
<table = class = "li"><%= book.body %></table>
</div>
<div class = "mini-box">
<table class ="li"><%= link_to "Show",book_path(book.id) %></table>
<table class ="li"><%= link_to "Edit",edit_book_path(book.id) %></table>
<table class ="li"><%= link_to "Destroy",book_path(book.id),method: :delete, "data-confirm" => "Are you sure ?" %></table>
</div>
</div>
<% end %>
</main>
<!--ループ機能終了-->


<div class ="bottom">
<h2>New book</h2>

<!--ここからバリエーション試し-->

<% if @book.errors.any? %>
  <%= @book.errors.count %>error
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<!--ここまでで終了-->

<p>Title</p>
<%= form_with model: @book,local:true do |f| %>

<%= f.text_field :title %>
<p>Body</p>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>
<% end %>
</div>

